Repository codecentric/helm-charts, pull requests merged in 2022-11, with the labels that each got.

#657 [KEYCLOAX][feature] Add a separate annotations block for the Headless service
  charts/keycloakx/README.md
  charts/keycloakx/templates/service-headless.yaml
  charts/keycloakx/values.schema.json
  charts/keycloakx/values.yaml
Labels: KeycloakX

#663 [mailhog]: Add affinity configuration in README
  charts/mailhog/README.md
Labels: Mailhog

#656 [keycloakx] Bump Keycloak to v19.0.3
  charts/keycloakx/Chart.yaml
  charts/keycloakx/examples/postgresql-kubeping/Dockerfile
  charts/keycloakx/values.yaml
Labels: KeycloakX

#624 docs: updates keycloakx readme about creating the admin user
  charts/keycloakx/README.md
Labels: Stale, KeycloakX
