Repository codecentric/helm-charts, pull requests merged in 2022-07, with the labels that each got.

#592 [keycloakx] Major version upgrade to Keycloak 18.0.0 (#591)
  charts/keycloakx/Chart.yaml
  charts/keycloakx/README.md
  charts/keycloakx/examples/postgresql-kubeping/Dockerfile
  charts/keycloakx/examples/postgresql-kubeping/readme.md
  charts/keycloakx/templates/statefulset.yaml
  charts/keycloakx/values.schema.json
  charts/keycloakx/values.yaml
Labels: KeycloakX

#618 Increase postgresql dependency chart version
  charts/keycloak/Chart.lock
  charts/keycloak/Chart.yaml
Labels: Keycloak

#608 [keycloak] fix PodDisruption API selection
  charts/keycloak/templates/poddisruptionbudget.yaml
Labels: Keycloak

#602 [keycloak] update NOTES.txt
  charts/keycloak/templates/NOTES.txt
Labels: Keycloak

#488 [keycloak] fix(_helpers.tpl): redefine `keycloak.postgresql.fullname` to use postgresql replication setup
  charts/keycloak/templates/_helpers.tpl
Labels: Keycloak

#601 use existing secret for keycloakx database password
  charts/keycloakx/templates/_helpers.tpl
  charts/keycloakx/templates/database-secret.yaml
  charts/keycloakx/templates/statefulset.yaml
  charts/keycloakx/values.yaml
Labels: KeycloakX

#621 [keycloakx] improve documentation for existing secret
  charts/keycloakx/README.md
  charts/keycloakx/values.schema.json
Labels: KeycloakX

#623 fix: correct fallback when no existingSecret
  charts/keycloakx/templates/_helpers.tpl
Labels: KeycloakX

#584 add namespace attribute in keycloakx objects
  charts/keycloakx/README.md
  charts/keycloakx/templates/configmap-startup.yaml
  charts/keycloakx/templates/database-secret.yaml
  charts/keycloakx/templates/hpa.yaml
  charts/keycloakx/templates/ingress.yaml
  charts/keycloakx/templates/networkpolicy.yaml
  charts/keycloakx/templates/poddisruptionbudget.yaml
  charts/keycloakx/templates/prometheusrule.yaml
  charts/keycloakx/templates/rbac.yaml
  charts/keycloakx/templates/route.yaml
  charts/keycloakx/templates/secrets.yaml
  charts/keycloakx/templates/service-headless.yaml
  charts/keycloakx/templates/service-http.yaml
  charts/keycloakx/templates/serviceaccount.yaml
  charts/keycloakx/templates/servicemonitor.yaml
  charts/keycloakx/templates/statefulset.yaml
  charts/keycloakx/templates/test/configmap-test.yaml
  charts/keycloakx/templates/test/pod-test.yaml
  charts/keycloakx/values.yaml
Labels: KeycloakX

#626 feature: Allow setting mailhog replicas
  charts/mailhog/README.md
  charts/mailhog/templates/deployment.yaml
  charts/mailhog/values.yaml
Labels: Mailhog
