Repository codecentric/helm-charts, pull requests merged in 2023-02, with the labels that each got.

#679 [keycloakx] Bump Keycloak to version 20.0.3
  charts/keycloakx/Chart.yaml
  charts/keycloakx/examples/postgresql-kubeping/Dockerfile
  charts/keycloakx/values.yaml
Labels: KeycloakX

#632 [mailhog] Add ability to definit targetPort of name based service or not
  charts/mailhog/README.md
  charts/mailhog/templates/deployment.yaml
  charts/mailhog/templates/service.yaml
  charts/mailhog/values.yaml
Labels: Mailhog

#685 Bump mailhog chart version: 5.2.2 -> 5.2.3
  charts/mailhog/.bumpversion.cfg
  charts/mailhog/Chart.yaml
Labels: Mailhog

#678 comment ingress tls example to avoid conflicts
  charts/keycloak/values.yaml
Labels: Keycloak
