Repository codecentric/helm-charts, pull requests merged in 2024-11, with the labels that each got.

#807 just lint the keycloakx chart
  ct.yaml
Labels: Repo

#803 fix: add truncate filter on version label
  charts/keycloak/templates/_helpers.tpl
  charts/keycloakx/templates/_helpers.tpl
  charts/mailhog/templates/_helpers.tpl
Labels: Keycloak, Mailhog, KeycloakX

#799 feature: publish to GHCR registry
  .github/workflows/release-charts.yaml
  README.md
  charts/keycloak/README.md
  charts/keycloakx/README.md
  charts/mailhog/README.md
Labels: Keycloak, Mailhog, Repo, KeycloakX
