Repository codecentric/helm-charts, pull requests merged in 2025-08, with the labels that each got.

#828 feat: bump keycloak to 26.2.3 due CVE
  charts/keycloakx/Chart.yaml
  charts/keycloakx/examples/postgresql-kubeping/Dockerfile
  charts/keycloakx/values.yaml
Labels: KeycloakX

#844 Example CloudNative PG
  charts/keycloakx/examples/cloudnative-pg/keycloak-cluster.yaml
  charts/keycloakx/examples/cloudnative-pg/keycloak-server-values.yaml
  charts/keycloakx/examples/cloudnative-pg/readme.md
Labels: KeycloakX

#845 Update to 26.3.2
  charts/keycloakx/Chart.yaml
  charts/keycloakx/examples/postgresql-kubeping/Dockerfile
  charts/keycloakx/values.yaml
Labels: KeycloakX

#837 Update README.md
  charts/mailhog/README.md
Labels: Mailhog

#827 [keycloakX] add tlsConfig to serviceMonitor
  charts/keycloakx/README.md
  charts/keycloakx/templates/servicemonitor.yaml
Labels: KeycloakX

#822 fix: toString before truncate
  charts/keycloak/templates/_helpers.tpl
  charts/keycloakx/templates/_helpers.tpl
  charts/mailhog/templates/_helpers.tpl
Labels: Stale, Keycloak, Mailhog, KeycloakX

#818 feat: Add support for volumeClaimTemplates (#817)
  charts/keycloakx/README.md
  charts/keycloakx/templates/statefulset.yaml
  charts/keycloakx/values.schema.json
  charts/keycloakx/values.yaml
Labels: Stale, KeycloakX

#847 feat(keycloakx): add extra ports to headless service
  charts/keycloakx/README.md
  charts/keycloakx/templates/service-headless.yaml
  charts/keycloakx/values.schema.json
  charts/keycloakx/values.yaml
Labels: KeycloakX

#851 Update Keycloak to 26.3.3
  charts/keycloakx/Chart.yaml
  charts/keycloakx/examples/postgresql-kubeping/Dockerfile
  charts/keycloakx/values.yaml
Labels: KeycloakX
